@charset "UTF-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&family=Viga&display=swap');


:root {
    --fonte1: 'verdana' Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}



* {
    margin: 0px;
    padding: 0px;
}

html, bady {
    min-height: 100vh;
    background-color: rgba(169, 169, 169, 0.156);
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 3.4em;
}   

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-weight: bold;
    
    
}



header a:hover, footer a:hover {

    text-decoration: underline;
    font-style: italic;
    color: rgb(201, 201, 201)
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 1.5em;
}

section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.489)
}

section#img01 {

    background-image: url('../imagem/img-01.jpg');
    background-position: top;

}

section#img02 {

    background-image: url('../imagem/img-02.jpg');
    background-position: top;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 13px
    
    
}